@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');

body {
	font-family: Michroma, serif;
	background: linear-gradient(90deg, #000481 0%, #000000 100%);
	/* background: repeating-linear-gradient(
      190deg,
      rgba(255, 0, 0, 0.5) 40px,
      rgba(255, 153, 0, 0.5) 80px,
      rgba(255, 255, 0, 0.5) 120px,
      rgba(0, 255, 0, 0.5) 160px,
      rgba(0, 0, 255, 0.5) 200px,
      rgba(75, 0, 130, 0.5) 240px,
      rgba(238, 130, 238, 0.5) 280px,
      rgba(255, 0, 0, 0.5) 300px
    ),
    repeating-linear-gradient(
      -190deg,
      rgba(255, 0, 0, 0.5) 30px,
      rgba(255, 153, 0, 0.5) 60px,
      rgba(255, 255, 0, 0.5) 90px,
      rgba(0, 255, 0, 0.5) 120px,
      rgba(0, 0, 255, 0.5) 150px,
      rgba(75, 0, 130, 0.5) 180px,
      rgba(238, 130, 238, 0.5) 210px,
      rgba(255, 0, 0, 0.5) 230px
    ),
    repeating-linear-gradient(
      23deg,
      red 50px,
      orange 100px,
      yellow 150px,
      green 200px,
      blue 250px,
      indigo 300px,
      violet 350px,
      red 370px
    ); */
}

p {
  color: aquamarine;
}

.nav-link {
	color: aquamarine;
}

.navbar-nav .nav-link.active {
	color: rgb(170, 170, 170);
}

.navbar-brand img {
	width: 40px;
}

.navbar-toggler {
	background-color: rgb(170, 170, 170);
}

.sidebar {
	color: aquamarine;
	background: linear-gradient(270deg, #000481 0%, #000000 100%);
}

.card {
	background: linear-gradient(270deg, #000481 0%, #000000 100%);
	color: aquamarine;
}

.card a {
	text-decoration: none;
	color: aquamarine;
}

.slide-text, .footer-text {
  color: aquamarine;
  margin: auto auto;
}

footer, .btn-outline-primary {
	background: linear-gradient(270deg, #000481 0%, #000000 100%);
}

.media-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.call-anim {
  animation: callAnim 2s ease 0s infinite normal forwards;
}

@keyframes callAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

@media (max-width: 755px) {
  .carousel-indicators {
    display: none;
  }
}